@charset "UTF-8";


/*全体*/
body {
	/*背景色*/
	background-color: white;
}

/*----------------header-----------------*/

/*headerの背景*/
.top_link {
	/*背景色*/
	background-color: #A5a58d;
	/*余白*/
	padding: 50px;
}

/*headerの文字*/
.library_system {

	color: white;
	background-color: #A5a58d;
	border: none;
	font-size: 50px;
}

/*----------------header-----------------*/



/*----------------footer-----------------*/

/*フッター背景色*/
html {
	height: 100%;
}

body {
	height: 100%;
}

.footer {
	/*背景色*/
	background-color: #A5a58d;
	width: auto;
	height: 150px;
	position: sticky;
	top: 100vh;
}

/*----------------footer-----------------*/



/*----------------menu-----------------*/

.menu {
	width: 200px;
	float: left;
	z-index: 1000;
}

.left_contents {
	width: 100%;
	height: 100%;
	display: flex;
}

/*menu背景*/
.menu_container {
	width: 75%;
	height: 1000px;
	background-color: #Cb997e;
	color: white;
	font-size: 25px;
	padding-right: 50px;
}

/*メニュー項目*/
.side_menu {
	position: sticky;
	top: 0;
}

/*見出し*/
.holder {
	display: flex;
	margin-top: 10px;
	z-index: 500;
}

/*見出しの名前*/
.menu_name {
	/*背景色*/
	background-color: #B7b7a4;
	/*文字の色*/
	color: white;
	/*文字のサイズ*/
	font-size: 30px;
	/*横に背景色を伸ばす*/
	width: 100vw;
	height: 50px;

}

/*menuボタン*/
.menu_button {

	background-color: #Cb997e;
	font-size: 25px;
	/*枠線なし*/
	border: none;
	color: white;
	padding: 20px;
}

/*menuの画像*/
img {
	/*カーソルが指さしの手になる*/
	cursor: pointer;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}

/*メニューの画像の背景色・大きさ*/
.menu_image {
	background-color: #B7b7a4;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 5px;
}

/*----------------menu-----------------*/


/*--------------pタグ----------------*/
p {
	margin-left: 30px;
}

/*--------------pタグ----------------*/


/*-------------ボタン-------------*/

button {
	/*カーソルが指さしの手になる*/
	cursor: pointer;
}


.top_container {
	margin-bottom: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1300px;
	/* コンテナ幅を制限して広がりすぎないようにする */
	margin: 100px auto;
	/* 中央寄せ */

}


.top_button {

	/*背景色*/
	background-color: #Ffe8d6;
	/*文字のサイズ*/
	font-size: 30px;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	width: 270px;
	height: 200px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}


/*資料管理画面・会員管理のボタン*/

.button_container {
	/*横並び*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1000px;
	/* コンテナ幅を制限して広がりすぎないようにする */
	margin: 100px auto;
	/* 中央寄せ */
}

.button_container button {
	width: 350px;
	height: 250px;
}

.container {
	font-size: 25px;

}


/*新規登録ボタン*/
.general_button {
	/*背景色*/
	background-color: #Ffe8d6;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	width: 230px;
	height: 55px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	display: flex;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}


/*戻るボタン　右寄せ*/
.return_button {
	/*背景色*/
	background-color: #Ddbea9;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	width: 230px;
	height: 55px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	display: flex;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}


.general_button,
.return_button {
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1000px;
	margin: 10px auto;
}

.return_button_contents {
	display: flex;
	justify-content: center;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
}

/*戻るボタン　中央寄せ*/
.search_return_button {
	/*背景色*/
	background-color: #Ddbea9;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	width: 230px;
	height: 55px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}

/*テーブル内の変更・削除ボタン*/
.table_edit_button {
	/*背景色*/
	background-color: #6b705c;
	/*文字の色*/
	color: white;
	/*枠線なし*/
	border: none;
	/*ボタンの内側の余白*/
	padding: 5px 30px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 20px;
}


/*変更・削除のボタン*/
.edit_button {
	/*背景色*/
	background-color: #6b705c;
	/*文字の色*/
	color: white;
	/*枠線なし*/
	border: none;
	width: 230px;
	height: 55px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}

/*検索ボタン*/
.general_button_search_button {
	/*背景色*/
	background-color: #Ffe8d6;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	width: 200px;
	height: 55px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	margin:0.5em;
}



.button_container_lend {
	/*横並び*/
	display: flex;
	align-items: center;
	justify-content: space-around;
	max-width: 1000px;
	/* コンテナ幅を制限して広がりすぎないようにする */
	margin: 100px auto;
	/* 中央寄せ */
}

/*続けて貸出・返却ボタン*/
.transfar_link {
	width: 270px;
	display: flex;
	align-items: center;
	margin: auto;
	/* 中央寄せ */

}

/*返却・貸出完了画面の続けて返却・貸出ボタン*/
.transfar_link button {
	/*背景色*/
	background-color: #Ffe8d6;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	/*ボタンの内側の余白*/
	padding: 10px 70px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}

/*自動遷移しないときのボタン*/
.transfar_link_top {
	width: 415px;
	display: flex;
	align-items: center;
	margin: 70px auto;
	/* 中央寄せ */
	/*ボタン丸くする*/
	border-radius: 100px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}

.transfar_link_top button {
	/*背景色*/
	background-color: #Ddbea9;
	/*文字の色*/
	color: #6b422b;
	/*枠線なし*/
	border: none;
	/*ボタンの内側の余白*/
	padding: 10px 70px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.5)
}

/*詳細ボタン*/
.inquiries_edit_button {
	/*背景色*/
	background-color: #6b705c;
	/*文字の色*/
	color: white;
	/*枠線なし*/
	border: none;
	/*ボタンの内側の余白*/
	padding: 5px 50px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 25px;
	margin: 2px;
}

/*延滞者一覧テーブルの中編集ボタン*/
.orverdue_edit_button {
	/*背景色*/
	background-color: #6b705c;
	/*文字の色*/
	color: white;
	/*枠線なし*/
	border: none;
	/*ボタンの内側の余白*/
	padding: 5px 30px;
	/*ボタン丸くする*/
	border-radius: 100px;
	font-size: 20px;
}

.button_center {
	text-align: center;
}

/*-------------ボタン-------------*/



/*------------メッセージ------------*/
/*エラーメッセージ*/
.message {
	color: red;
	font-size: 25px;
}

/*中央寄せメッセージ*/
.message_lend {
	text-align: center;
}

/*------------メッセージ------------*/


/*--------------セレクトボックス---------------*/
select {
	font-size: 20px;
	margin-top: 0.4em;
	margin-bottom: 0.3em;
	margin-left: 0.7em;
	width: 130px;
}

/*--------------セレクトボックス---------------*/



/*--------------inout---------------*/
input {
	margin-bottom: 0.1em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;
	font-size: 20px;
}

/*--------------inout---------------*/



/*-------------textarea---------------*/
textarea {
	width: 500px;
	height: 100px;
	margin-bottom: 0.8em;
	margin-left: 1em;
	margin-right: 1em;
	padding: 5px;

}

/*--------------textarea---------------*/



/*-----------------table------------------*/


table {

	background-color: #A5a58d;
	border-collapse: collapse;
	color: white;
	border: 3px solid white;
	width: 800px;
	height: 100px;
}

table th {
	width: 200px;
}

th,
td {
	border: 2px dashed white;
	/* 点線 */
}

.input_table {
	display: flex;
	justify-content: space-around;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
}

.input_search_table_reservation tr:nth-of-type(4){
	text-align: center;
}

.search_result_table_container {
	display: flex;
	justify-content: space-around;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
}

.search_result_table_catalog {
	width: 1200px;
	height: 100px;
	background-color: #Ffe8d6;
	color: #6b422b;
	text-align: center;
}


/*予約検索結果テーブル*/
.search_result_table_reservation {
	width: 1200px;
	height: 100px;
	background-color: #Ffe8d6;
	color: #6b422b;
	text-align: center;
	font-size: 20px;
}

/*会員検索結果のテーブル*/
.search_result_table {
	width: 1000px;
	height: 100px;
	background-color: #Ffe8d6;
	color: #6b422b;
	text-align: center;
}

/*延滞者一覧テーブルの配置*/
.search_result_table_contents {
	display: flex;
	justify-content: space-around;
	/* 水平方向の中央揃え */
	align-items: center;
	/* 垂直方向の中央揃え */
}


/*延滞者一覧テーブル*/
.overdue_table {
	width: 1200px;
	height: 60px;
	background-color: #Ffe8d6;
	color: #6b422b;
	text-align: center;
}

/*caption*/

caption {
	caption-side: top;
	/* キャプションをテーブルの上部に配置 */
	text-align: left;
	/* 左寄せ */
}


/*----------------テーブル----------------*/






/*-----------------リスト------------------*/


/*返却・貸出リスト*/

.ul_container {
	width: 800px;
	/* 親要素の幅 */
	height: 700px;
	/* 親要素の高さ */
	align-items: center;
	margin: 50px auto 10px;
	/* 中央寄せ */

}

ul {
	list-style-type: none;
	/* デフォルトの丸い点 */
	/*文字の色*/
	color: #6b422b;
	width: 800px;
	align-items: center;
	margin: 50px auto;
	/* 中央寄せ */
	padding-left: 210px;
}

ul li {
	position: relative;
	background-color: #Ffe8d6;
	/*ボタン丸くする*/
	border-radius: 100px;
	padding: 0.5em 0.5em 0.5em 0.5em;
	margin-bottom: 5px;
	line-height: 1.5;
	vertical-align: middle;
	border-radius: 15px 15px 15px 15px;
	/*左側の角丸く*/
}


/*-----------------リスト------------------*/